body {

  background-image: url("background.gif");
}


#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  object-fit: cover;
  z-index: -1;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Centers the container */
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 10px; /* Adjust the margin between buttons */

  
}

button:hover {
  transform: scale(1.1);
}

img {
  height: 170px;
  width: 170px;
  border-radius: 10px; /* Optional: Adds rounded corners to the image */
}
