body {
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: aqua;
    background-image: url(../background.png);  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
  }

  
  #starfire {
    font-size: 50px;
    position: absolute;
    top: calc(50% - 120px); /* Position 50 pixels above the center of the nearest positioned ancestor */
    left: 50%; /* Position at 50% from the left of the nearest positioned ancestor */
    transform: translateX(-50%); /* Center the element horizontally */
  }
  
  
  
  
  #searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #address {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px; 
    outline: none;
  }
  
  #address::placeholder {
    color: #999; 
  }

  #rocket-icon {
    position: fixed;
    top: 0; /* Position at the top */
    right: 0; /* Position at the right */
    margin-top: 20px; 
    display: inline-block; /* Ensure the div behaves like an inline element */

    margin-right: 20px; 
    font-size: 24px;
    z-index: 9999;
    
}

#cog-icon {
  position: fixed;
  top: 0; /* Position at the top */
  right: 10; /* Position at the right */
  margin-top: 20px; 
  display: inline-block; /* Ensure the div behaves like an inline element */
  margin-right: 20px; 
  font-size: 24px;
  z-index: 9999;
  
}